[Unit]
Description=Conffigure screens on %i ssb network
PartOf=graphical-session.target
Requires=kiosk-compiz.service
After=kiosk-compiz.service

[Service]
ExecStart=/usr/bin/bash -xc "sudo -u %i tre-screen-setup /etc/%i/config | bash"
RestartSec=5
Restart=always

[Install]
WantedBy=default.target
